/* = Table of Contents =====================================================
 * 1. Web Fonts
 * 2. Animations
 * 3. Reset
 * 4. Headings
 * 5. Typography
 * 6. Links
 * 7. Lists
 * 8. Embedded Content
 * 9. Tables
 * 10. Layout
 * 11. Messaging
 * 12. Non-semantic Classes
 * 13. Forms
 * 14. Print Styles
 * 15. Site Specific
/* ========================================================================= */

/* = 1. Web Fonts ========================================================== */
@import url(http://fonts.googleapis.com/css?family=Fjord+One);

/* = 2. Animations ========================================================= */

/* = 3. Reset ============================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption,
figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
section, summary {
	display: block;
}

audio, canvas, video {
	display: inline-block;
}

html.lt-ie8 audio,
html.lt-ie8 canvas,
html.lt-ie8 video {
	display: inline;
	zoom: 1;
}

audio:not([controls]) {
	display: none;
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	position: relative;
	max-width: 920px;
	min-width: 480px;
	margin: 0 auto;
	padding: 1em;
	font-size: 16px;
	line-height: 1.4;
}

html.lt-ie7 body {
	width: 920px;
}

blockquote, html, button, input[type=text], input[type=password], textarea, select, caption {
	font-family: arial, Helvetica, sans-serif;
	background: #FFF;
	color: #333;
}

::-moz-selection {
	background: #66C6EC;
	text-shadow: none;
}

::selection {
	background: #66C6EC;
	text-shadow: none;
}


/* = 4. Headings =========================================================== */

h1, h2, h3, h4, h5, h6 {
	color: #F2006D;
	font-family: 'Fjord One', Georgia, serif;
	line-height: 1.3;
	margin: 0 0 1em;
}
h1 {
	font-size: 3em; /* 48px / 16px */
}
h2 {
	color: #1E5795;
	font-size: 2.5em; /* 40px / 16px */
}
h3 {
	color: #AD9153;
	font-size: 1.25em; /* 20px / 16px */
}
h4 {
	color: #487B67;
	font-size: 1.125em; /* 18px / 16px */
}
h5, h6 {
	font-size: 1em;
}

h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
	margin: 0;
}

/* = 5. Typography ========================================================= */

abbr[title],
acronym[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

blockquote,
pre {
	clear: both;
	padding-left: .5em;
	margin: 2em 0 2em .5em;
}
	blockquote {
		font-style: italic;
		font-size: 1.25em;
		border-left: 2px solid #708C3F;
	}
		blockquote p {
			margin: 1em 0;
		}
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

code {
	padding: 0.2em;
}

pre, code, tt, kbd, samp {
	font-family: Monaco, 'Droid Sans Mono', Consolas, 'Courier New', monospace;
}

p {
	margin: 1.5em 0;
}

q {
	quotes: none;
}

q:before,
q:after {
	content: "";
	content: none;
}

dfn {
	font-style: italic;
}

hr {
	display: block;
	border: 0;
	width: 20em;
	max-width: 80%;
}

ins {
	background: #ff9;
	color: #000;
	text-decoration: none;
}

del {
	background: #fba;
	text-decoration: line-through;
}

mark {
	background: #ff0;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

/* = 6. Links ============================================================== */

a:link {
	color: #0096D2;
	text-decoration: none;
	word-wrap: break-word;
	-webkit-transition: color .2s ease;
	-moz-transition: color .2s ease;
	-ms-transition: color .2s ease;
	-o-transition: color .2s ease;
	transition: color .2s ease;
}

a:visited {
	color: #00587B;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	color: #F2006D;
	outline: 0;
}

/* = 7. Lists ============================================================== */

ul,
ol {
	margin: 1em 0;
	padding-left: 2em;
}

ul {
	list-style: disc;
}

	ul ul {
		list-style: circle;
	}

ol {
	list-style: decimal;
}

dd {
	margin-left: 2em;
}


/* = 8. Embedded Content =================================================== */
img {
	max-width: 100%;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic;
}

html.lt-ie9 svg {
	overflow: hidden;
}


/* = 9. Tables ============================================================= */

table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 1em 0 2em;
}
	thead {
		border-bottom: 2px solid #ccc;
		color: #0096D2;
		font-family: 'Fjord One', Georgia, serif;
	}
		th {
			font-weight: bold;
		}
	tfoot {
		border-top: 1px solid #ccc;
	}

	td, th {
		padding: .25em .5em;
		text-align: left;
		vertical-align: top;
	}

caption {
	font-size: 1.2em;
	font-family: 'Fjord One', Georgia, serif;
}


/* = 10. Layout ============================================================= */

.header, .torso, .footer {
	position: relative;
}

.header h1 {
	font-size: 2em;
	font-weight: 700;
	margin: 0;
}

.header a,
.header a:hover {
	color: #fff;
}
	.header .description {
		width: 33%;
		float: right;
		margin: 1em 0;
		padding: 1em;
		border: 1px solid #222;
		font-size: .8em;
	}
	.header .description p {
		margin: 0;
	}

.nav.primary {
}
	.nav a,
	.nav a:hover {
		display: inline-block;
		padding: .5em 1em;
		float: left;
	}

.torso {
	padding: 40px 0;
}
		.torso h1 {
			margin: 0;
		}

.footer {
	margin-top: 100px;
}


/* = 11. Messaging ========================================================= */

.highlight {
	font-family: 'Fjord One', Georgia, serif;
	color: #0096D2;
	font-size: 2.5em; /* 40px / 16px */
	margin: 0 0 1.8em;
	padding-bottom: 1.5em;
}

.error, .info, .success {
	margin: 1.5em 0;
	padding: 1em;
}
.error a, .info a, .success a {
	color: inherit;
	text-decoration: underline;
}

div.error, div.info, div.success, p.error, p.info, p.success {
	color: #FFF;
	font-size: 1.125em;
	font-weight: bold;
	margin: 1em 0;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.15);
}
.error ul,
.info ul,
.success ul {
	color: #FFF;
	margin: 0.6em 0 0;
	padding: 0 0 0 2em;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.1)
}
.success {
	background: #5acc64;
	border: 6px solid #49b953;
	color: #50a12c;
}
.error {
	background: #db3131;
	border: 6px solid #cb2525;
}
.info {
	background: #F2006D;
	border: 6px solid #dc0063;
	color: #008eb8;
}
.error p, .error li, .info p, .info li, .success p, .success li {
	margin: 0;
}

/* = 12. Non-semantic Classes ============================================== */
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.lt-ie7-only, .ie7-only {
	display: none;
}
html.lt-ie7 .lt-ie7-only {
	display: block;
}
html.lt-ie8 .ie7-only {
	display: block;
}
html.lt-ie7 .ie7-only {
	display: none;
}

.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

html.lt-ie8 .group {
	zoom: 1;
}


/* = 13. Forms ============================================================= */

label {
	cursor: pointer;
}

legend {
	white-space: normal;
}
html.lt-ie8 legend {
	margin-left: -7px;
}

button,
input,
select,
textarea {
	font-size: 100%;
	vertical-align: baseline;
}
html.lt-ie8 button,
html.lt-ie8 input,
html.lt-ie8 select,
html.lt-ie8 textarea {
	vertical-align: middle;
}

button,
input {
	line-height: normal;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}
html.lt-ie8 button,
html.lt-ie8 input[type="button"],
html.lt-ie8 input[type="reset"],
html.lt-ie8 input[type="submit"] {
	overflow: visible;
}

button[disabled],
input[disabled] {
	cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html.lt-ie8 input[type="checkbox"],
html.lt-ie8 input[type="radio"] {
	width: 13px;
	height: 13px;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-ms-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical;
}

form h4 {
	margin: 0 0 0.4em;
}
form label {
	display: block;
	text-transform: uppercase;
	font-size: .7em;
	line-height: 2;
	color: #999;
	font-weight: bold;
	margin: 0 1em;
}
	.radio label,
	.checkbox label {
		display: inline;
		text-transform: none;
		font-size: 1em;
		line-height: 1;
		color: #333;
		font-weight: normal;
		margin: 0;
	}

	span.required {
		color: #000;
	}

	fieldset .help {
		font-style: italic;
		margin: 0.4em 0 0;
	}

.text, .password, .entry, .file, .checkboxes, .select, .radios, .textarea, .validation, .submit {
	margin-bottom: 1em;
}
	.validation .text {
		margin-top: 1em;
	}

.text input,
.password input,
.textarea textarea {
	display: block;
	width: 100%;
	box-shadow: inset 0 0 2em #efefef;
	border: 1px solid #ddd;
	height: 2.8em;
	margin: .25em 0;
	padding: 0 .5em;
}
.textarea textarea {
	height: 12em;
}
button,
input[type=button],
input[type=reset],
input[type=submit],
a.button {
	border: 0;
	background-color: #0292CC;
	color: #FFFFFF;
	font-weight: bold;
	font-family: 'Fjord One', Georgia, serif;
	padding: .75em 1em;
	border-radius: .25em;
	-webkit-transition: background .1s ease;
	-moz-transition: background .1s ease;
	-o-transition: background .1s ease;
	transition: background .1s ease;
	float: left;
}
	div.button,
	div.submit:after {
		content: '';
		display: block;
		clear: both;
	}

html.lt-ie8 button,
html.lt-ie8 input[type=button],
html.lt-ie8 input[type=reset],
html.lt-ie8 input[type=submit] {
	overflow: visible;
}


button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover,
a.button:hover {
	background: #F2006D;
	cursor: pointer;
}


/* = 14. Print Styles ====================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after,
	acronym[title]:after {
		content: " (" attr(title) ")";
	}

	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}

/* = 15. Site Specific ===================================================== */
