/* --------------------------------------------------------------------- */
/* Reset - v1.0 | 20080212
/* --------------------------------------------------------------------- */ 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	text-rendering: optimizeLegibility; 
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --------------------------------------------------------------------- */
/* Special
/* --------------------------------------------------------------------- */
/* Group clearfix
/* --------------
/* The "group" class is intended to be used on the parent elements of 
/* floated children. We use group as it has more semantic meaning than
/* "clearfix". 
/*
/* NOTE: This technique is distinctly different than using an empty
/* element to "clear" contents. See the following resource:
/*
/* Clearing a float container without source markup
/* http://www.positioniseverything.net/easyclearing.html 
/* --------------------------------------------------------------------- */

.group:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
* html .group { height: 1%; }
*:first-child+html .group { min-height: 1px; }

/* --------------------------------------------------------------------- */
/* Typography
/* --------------------------------------------------------------------- */ 

body {
	font-size: 16px;
	line-height: 1.5;
	background: #F9F9F9;
	font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5 {
	font-weight: normal;
	font-family: Helvetica, Arial, sans-serif;
}

h1 {
	color: #FF0071;
	font-size: 36px;
	line-height: 1.333;
	margin-bottom: 13.333px;
}

h2 {
	color: #1E5795;
	font-size: 24px;
	line-height: 1.0;	
	margin: 60px 0 0 0;
	padding: 60px 0 10px 0;
	border-top: 1px solid #DDD;
}

h1 + h2 {
	margin: 0;
	border: none;
}

.toc h2 {
	margin: 0;
	border: none;
	padding: 10px 0;
}

h3 {
	color: #AD9153;
	font-size: 21px;
	line-height: 1.143;
	margin-top: 30px;
	margin-bottom: 11.43px;
}

h4 {
	color: #487B67;
	font-size: 18px;
	line-height: 1.333;
	margin-top: 30px;
	margin-bottom: 13.333px;
}

h5 {
	font-size: 16px;
	line-height: 1.5;
	margin-top: 30px;
	margin-bottom: 15px;
}

p {
	margin: 0 0 15px 0;
}

tt, pre, code {
	font-family: Consolas, Monaco, monospace;	
}

pre {
	overflow: auto;
	font-size: 13px;
	line-height: 1.5;
	margin: 0 0 20px 0;
}

hr {
	height: 1px;
	color: #DDD;
	border: none;
	margin: 60px 0;
	background: #DDD;
}

sub {
	font-size: 12px;
	vertical-align: sub;
}

sup {
	font-size: 12px;
	vertical-align: super;
}

blockquote {
	margin: 0 0 19px 0;
	background: #F3F3F3;
	padding: 20px 20px 1px 20px;
}

.underline {
	text-decoration: underline;
}

/* --------------------------------------------------------------------- */
/* Quotes
/* --------------------------------------------------------------------- */ 

blockquote.citation {
	margin: 0 0 10px 0;
	padding: 0 0 5px 10px;
	border-left: 2px solid #708C3F;
}

/* --------------------------------------------------------------------- */
/* Lists
/* --------------------------------------------------------------------- */ 

ul {
	list-style: disc;
	margin: 0 0 15px 15px;
}
	ul ul {
		list-style: circle;
	}

ol {
	list-style: decimal;
	margin: 0 0 15px 15px;
}

dt {
	width: 20%;
	padding: 10px 0;
	font-weight: bold;
	vertical-align: top;
	display: inline-block;
}

dd {
	width: 70%;
	padding: 10px;
	background: #F9F9F9;
	vertical-align: top;
	margin: 0 0 20px 10px;
	display: inline-block;
	border: 1px solid #CCC;
}

/* --------------------------------------------------------------------- */
/* Links
/* --------------------------------------------------------------------- */ 

a {
	color: #2c82d1;	 
	padding: 1px 2px;
	text-decoration: none;
	word-wrap: break-word;
}
a:hover,
a:focus,
a:active {
	color: #1E5795;
	text-decoration: underline;
}
a:focus,
a:active {
	background: #e0e8f1;
	outline: 1px dotted #4e82bb;
	text-decoration: none;
}

/* --------------------------------------------------------------------- */
/* Images
/* --------------------------------------------------------------------- */ 

img {
	display: block;
	max-width: 100%;
}

/* --------------------------------------------------------------------- */
/* Tables
/* --------------------------------------------------------------------- */ 

table {
	width: 100%;
	margin: 0 0 24px 0;
}
	td, th {
		font-size: 15px;
		text-align: left;
		vertical-align: top;
		padding: 15px 15px 15px 0;
		border-bottom: 1px solid #ddd;
	}
		td table td,
		td table th {
			padding: 10px;
			border: 1px solid #DDD;
		}	

/* --------------------------------------------------------------------- */
/* Structure
/* --------------------------------------------------------------------- */ 

#header {
	background: #EEEEEE;
}

#torso {
	background: #FFFFFF;
}

#footer {
	background: #F9F9F9;
}

/* --------------------------------------------------------------------- */
/* Notices
/* --------------------------------------------------------------------- */

.notice {
	background: red;
	color: white;
	text-align: center;
	font-size: 1.3em;
}
