/* --------------------------------------------------------------------- */
/* Layout
/* --------------------------------------------------------------------- */ 

#header .content {
	padding: 0;
	margin: 0 auto;
	background: none;
}
	#header .content .title {
		margin: 0;
		float: left;
		line-height: 3;		
		color: #000000;
		font-size: 24px;
		font-weight: normal;
		font-family: Helvetica, Arial, sans-serif;			
	}
	#header .content .title a,
	#header .content .title a:hover {
		color: #000;
	}
	#header .primary_nav {
		float: right;
		list-style: none;
		margin: 18px 0 0 0;			
	}
		#header .primary_nav li {
			margin: 0 0 0 10px;
			display: inline-block;
		}
			#header .primary_nav li a {
				background: #FFF;
				padding: 5px 12.5px;
				display: inline-block;
				-webkit-border-radius: 20px;
				-moz-border-radius: 20px;
				border-radius: 20px;
			}
			#header .primary_nav li a:active, 
			#header .primary_nav li a:focus {
				background: #aec3da;
			}
			#header .primary_nav li.active a {
				color: #FFF;
				background: #000;
			}

.content {
	width: 980px;
	padding: 20px;
	margin: 0 auto;
	position: relative;
}
	.content .main {
		width: 695px;
		background: #FFF;
	}
		.content .main.full-width {
			width: auto;
		}
	.content .toc {
		right: 0;
		color: #CCC;
		width: 235px;
		padding: 10px;
		background: #FFF;
		position: absolute;
	}
	.content .sticky {
		padding: 40px 10px 10px 10px;	
	}
		.content .toc h2 {
			font-size: 16px;
		}
		.content .toc ul {
			font-size: 13px;
			margin-bottom: 0;
		}
		.content .sticky a {
			color: #8AC;
		}
		.content .sticky a:hover,
		.content .sticky a:active,
		.content .sticky a:focus {
			color: #1E5795;
		}
		.content .sticky a.active {
			color: #E8B;
		}
		.content .sticky a.active:hover {
			color: #FF0071;
		}

#footer {
	color: #555;
	padding: 20px;
	font-size: 15px;
}
	#footer .content {
		padding: 0;
		margin: 0 auto;
		background: none;
	}
		#footer .content p {
			margin: 0;
			width: 320px;
			padding: 0 40px 0 0;
			vertical-align: top;
			display: inline-block;
		}
		#footer .content p.copyright {
			width: auto;
			float: right;
		}

/* --------------------------------------------------------------------- */
/* Index
/* --------------------------------------------------------------------- */ 

h1.title {
	font-size: 24px;
	margin-top: 36px;
	margin-bottom: 0;
	text-align: center;
}
p.copyright {
	text-align: center;
	margin-bottom: 36px;
}
