/**
 * abstracts > variables
 *
 */

$gray-100: #FAFAFA;
$gray-200: #E9E9E9;
$gray-300: #686868;
$gray-400: #5d5d5d;
$gray-500: #333333;
$gray-600: #222222;

$ash: #252d2f;
$fire: #ff675b;
$ice: #d3e6ea;
$salt: #f2efed;

$link: $fire;
$link-hover: $ash;

$body-color: $ash;

$border-color: $gray-200;

$button-radius: 0.25rem;

$base-font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$base-font-weight: 400;

$font-family-code: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

$font-size-code: 0.875em;

$code-color: hotpink;

$headings-font-weight: 700;

$container-max-widths: (
    sm: 540px,
    md: 768px,
    lg: 1320px,
);

$container-padding-x: 1.5rem;

$breakpoints: (
    sm: 569px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

