/**
 * base > root
 */

:root {
    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
    }
}

:root[color-mode="light"] {
    --matte: #{$white};
    --hero-background-color: #{$hero-background-color};
    --cover-background-color: #{$cover-background-color};
    --footer-background-color: #{$footer-background-color};
    --intro-background-color: #{$intro-background-color};
    --alert-background-color: #{$alert-background-color};
    --entry-background-color: #{$entry-background-color};
    --aside-background-color: #{$aside-background-color};
    --border-color: #{$border-color};
    --base-copy: #{$body-color};
    --base-copy-lighter: #{$gray-700};

    .color-mode__button--light .color-mode__background {
        display: block;
    }

    .color-mode__button--light .color-mode__icon {
        stroke: color-contrast($color-mode-active-background);
    }
}

:root[color-mode="dark"] {
    --matte: #{$gray-900};
    --hero-background-color: #{$hero-background-color-dark};
    --cover-background-color: #{$cover-background-color-dark};
    --footer-background-color: #{$footer-background-color-dark};
    --intro-background-color: #{$intro-background-color-dark};
    --alert-background-color: #{$alert-background-color-dark};
    --entry-background-color: #{$entry-background-color-dark};
    --aside-background-color: #{$aside-background-color-dark};
    --border-color: #{$border-color-dark};
    --base-copy: #{$body-color-dark};
    --base-copy-lighter: #{$gray-300};

    .color-mode__button--dark .color-mode__background {
        display: block;
    }

    .color-mode__button--dark .color-mode__icon {
        stroke: color-contrast($color-mode-active-background);
    }
}
