/**
 * base > root
 */

:root {
    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
    }
}

:root[color-mode='light'] {
    --surface01: #{$white};
    --surface02: #{$salt};
    --surface03: #{$ice};
    --surface04: #{$ice-600};
    --copy01: #{$body-color};
    --copy02: #{$gray-700};
    --buttonColorMode: #{$white};
    --primary: #{$link};

    .color-mode__button--light .color-mode__active {
        display: block;
    }

    .color-mode__button--light {
        // opacity: 0.25;
    }
}

:root[color-mode='dark'] {
    --surface01: #{$gray-900};
    --surface02: #{$gray-800};
    --surface03: #{$gray-800};
    --surface04: #{$gray-700};
    --copy01: #{$gray-200};
    --copy02: #{$gray-300};
    --buttonColorMode: #{$gray-900};
    --primary: #{$link};

    .color-mode__button--dark .color-mode__active {
        display: block;
    }

    .color-mode__button--dark {
        // opacity: 0.25;
    }
}
