/**
 * Base > Typography
 */

a {
    @include transition($transition-color);

    color: $link;
    text-decoration: none;

    &:hover {
        color: $link-hover;
    }
}

%heading {
    font-family: $headings-font-family;
    font-size: clamp(var(--fluid-type-min, 1.25rem),
    calc(1rem + var(--fluid-type-target, 5vw)),
    var(--fluid-type-max, 1.777rem));
    font-weight: $headings-font-weight;
    line-height: 1.15;
    margin-bottom: 0.5rem;
    margin-top: 0;
}

h1,
h2,
h3,
h4,
h5 {
    @extend %heading;
}

h1 {
    --fluid-type-min: 1.875rem;
    --fluid-type-max: 4.5rem;
}

h2 {
    --fluid-type-min: 1.5rem;
    --fluid-type-max: 2.5rem;
}

h3 {
    --fluid-type-min: 1.275rem;
    --fluid-type-max: 1.75rem;
}

h4 {
    --fluid-type-min: 1.125rem;
    --fluid-type-max: 1.25rem;
}

h5 {
    --fluid-type-min: 1.075rem;
    --fluid-type-max: 1.075rem;
}

/* stylelint-disable selector-no-qualifying-type */

h2[id] {
    border-top: 0.125rem solid var(--border-color, $border-color);
    margin-top: 2rem;
    padding-top: 1.75rem;

    &:first-of-type {
        border: 0;
        margin-top: 0;
        padding-top: 0;
    }
}

h3[id],
h4[id] {
    margin-top: 1.75rem;
}

/* stylelint-enable selector-no-qualifying-type */

p {
    margin-bottom: $paragraph-margin-bottom;
    margin-top: 0;
}

.brand {
    &__logo {
        --fluid-type-min: 1.875rem;
        --fluid-type-max: 4.5rem;
        font-family: $headings-font-family;
        font-weight: $brand-font-weight;
    }
}

.lead {
    color: var(--base-copy-lighter, $lead-color);
    font-size: 1.25rem;
    font-weight: 300;

    &--ornament {
        margin-top: 1.25rem;
        padding-top: 1.25rem;
        position: relative;

        &::before {
            background-color: currentColor;
            bottom: auto;
            content: '';
            display: block;
            height: 0.0625rem;
            left: 0;
            position: absolute;
            right: auto;
            top: 0;
            width: 2rem;
        }
    }
}

.meta {
    font-size: 0.825rem;
    font-weight: 700;
    text-transform: uppercase;
}

.eyebrow {
    color: $gray-400;
    font-weight: 700;

    &--capped {
        text-transform: uppercase;
    }

    &--section {
        letter-spacing: 0.225rem;
        line-height: 1.25;
        margin-bottom: 4rem;
        text-align: center;
    }
}
