/**
* abstracts > mixins
*
*/

@mixin breakpoint($breakpoint: md, $key: min) {
    @media (#{$key}-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

@mixin frame(
    $border-width: $frame-border-width,
    $color-start: #ee7162,
    $color-end: #f9d253,
    $frame-height: $frame-size,
    $frame-width-factor: 1.38,
    $background: transparent,
    $is-scalable: false
    ) {
    min-width: calc(#{$frame-height} / #{$frame-width-factor});
    position: relative;
    z-index: 0;

    &::before,
    &::after {
        bottom: auto;
        content: '';
        display: block;
        left: 0;
        position: absolute;
        top: 0;
        z-index: -1;
    }

    &::before {
        background-image: linear-gradient(to bottom, $color-start, $color-end);
        clip-path: polygon(0% 0%, 0% 100%, $border-width 100%, $border-width $border-width, calc(100% - #{$border-width}) $border-width, calc(100% - #{$border-width}) calc(100% - #{$border-width}), $border-width calc(100% - #{$border-width}), 0% 100%, 100% 100%, 100% 0%);
        height: $frame-height;
        width: calc(#{$frame-height} / #{$frame-width-factor});

        @if $is-scalable {
            height: 100%;
            width: 100%;
        }
    }

    &::after {
        background-color: $background;
        height: calc(#{$frame-height} - (#{$border-width} * 2));
        left: $border-width;
        top: $border-width;
        width: calc(#{$frame-height} / #{$frame-width-factor} - (#{$border-width} * 2));

        @if $is-scalable {
            height: calc(100% - (#{$border-width} * 2));
            width: calc(100% - (#{$border-width} * 2));
        }
    }


}

@mixin linkHoverLine($start: 60%, $stop: 90%, $color: $ice, $borderColor: $fire, $borderThickness: 0.125rem, $transition: 250ms) {
    @at-root [color-mode='light'] & {
        background-image: linear-gradient(transparent $start, $color $start, $color $stop, $borderColor calc(#{$stop} + #{$borderThickness}), transparent calc(#{$stop} + #{$borderThickness}));
        background-repeat: no-repeat;
        background-size: 0 100%;

        &:hover {
            background-size: 100% 100%;
            transition: $transition cubic-bezier(0.555, 0.0425, 0.3, 1);
        }
    }
}

@mixin transition($transition...) {
    @if length($transition) == 0 {
        $transition: $transition-all;
    }

    @if nth($transition, 1) != null {
        transition: $transition;
    }
}
