/**
 * abstracts > variables
 *
 */

/**
 * colors
 */

// grayscale
$white:    #fff;
$gray-100: #f2efed;
$gray-200: #e5e7eb;
$gray-300: #d1d5db;
$gray-400: #b4b6b8;
$gray-500: #6b7280;
$gray-600: #4b5563;
$gray-700: #2c333d;
$gray-800: #1d232a;
$gray-900: #0d0f12;
$black:    #000;

// imarc brand
$ash:      #252d2f;
$fire:     #ff675b;
$ice:      #d3e6ea;
$salt:     #f2efed;
$ocean:    #387cf5;

// shadings and tints
$fire-100: tint-color($fire, 80%);
$fire-200: tint-color($fire, 60%);
$fire-300: tint-color($fire, 40%);
$fire-400: tint-color($fire, 20%);
$fire-500: $fire;
$fire-600: shade-color($fire, 20%);
$fire-700: shade-color($fire, 40%);
$fire-800: shade-color($fire, 60%);
$fire-900: shade-color($fire, 80%);

$ice-100: tint-color($ice, 80%);
$ice-200: tint-color($ice, 60%);
$ice-300: tint-color($ice, 40%);
$ice-400: tint-color($ice, 20%);
$ice-500: $ice;
$ice-600: shade-color($ice, 20%);
$ice-700: shade-color($ice, 40%);
$ice-800: shade-color($ice, 60%);
$ice-900: shade-color($ice, 80%);

$salt-100: tint-color($salt, 80%);
$salt-200: tint-color($salt, 60%);
$salt-300: tint-color($salt, 40%);
$salt-400: tint-color($salt, 20%);
$salt-500: $salt;
$salt-600: shade-color($salt, 20%);
$salt-700: shade-color($salt, 40%);
$salt-800: shade-color($salt, 60%);
$salt-900: shade-color($salt, 80%);


/**
 * spacing
 */

$spacer: 1rem;


/**
 * base
 */

$body-color: $ash;
$body-color-dark: $gray-200;
$border-color: $salt;
$border-color-dark: $salt-900;

$fpo-background-color: $fire-200;
$fpo-background-color-dark: $fire-800;

$base-font-family: 'canada-type-gibson', 'Gibson', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$base-font-size: 1rem;
$base-font-weight: 400;
$base-line-height: 1.5;


/**
 * containers
 */

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1240px,
);

$container-padding-x: 1.25rem;


/**
 * breakpoints
 */

$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1260px
);


/**
 * typography
 */

$font-family-code: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
$font-size-code: 0.875em;

$link: $ocean;
$link-hover: $fire;

$lead-color: $gray-700;
$code-color: #d63384;

$headings-font-family: 'canada-type-gibson', 'Gibson', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$headings-font-weight: 700;

$paragraph-margin-bottom: 1rem;


/**
 * transitions
 */

$transition-all: all 250ms ease-in-out;
$transition-background-color: background-color 250ms ease-in-out;
$transition-color: color 250ms ease-in-out;
$transition-opacity: opacity 250ms ease-in-out;


/**
 * icons
 */

$icon-size: $base-font-size;
$icon-stroke-width: 0.125rem;


/**
 * layout stuff
 */

$backdrop-shape-size: 50vw;
$backdrop-shape-fill: $fire;

$shape-fill: $fire;

$brand-font-weight: 700;

$color-mode-background: $fire;
$color-mode-active-background: $white;
$color-mode-label-font-size: 0.875rem;
$color-mode-toggle-margin-x: 0.5rem;
$color-mode-toggle-font-size: 1.5rem;
$color-mode-icon-color: $white;
$color-mode-icon-stroke-width: $icon-stroke-width;

$cover-background-color: $gray-100;
$cover-background-color-dark: $ice-900;

$entry-background-color: $white;
$entry-background-color-dark: $gray-800;
$entry-border-width: $spacer * 0.5;
$entry-box-shadow: 0.75rem 0.75rem 2rem 0 rgb($black, 0.075);
$entry-margin-y-sm: $spacer * 2;
$entry-margin-y-lg: $spacer * 3;
$entry-shape-size: $spacer;

$frame-border-width: 0.25rem;
$frame-size: 1em;

$chapter-background-color: $white;
$chapter-background-color-dark: $gray-900;
$chapter-font-size-sm: $base-font-size * 0.625;
$chapter-font-size-lg: $base-font-size;
$chapter-frame-size: 14em;
$chapter-icon-size: 2.5em;
$chapter-outer-padding: 1.25rem;
$chapter-inner-padding: 1.25rem;
$chapter-label-font-size: 1.5em;
$chapter-figure-font-size: 4.5em;
$chapter-figure-font-weight: 800;

$masthead-brand-font-weight: 700;
$masthead-brand-link-color: $gray-700;
$masthead-brand-link-hover-color: $ocean;
$masthead-nav-link-color: $gray-700;
$masthead-nav-link-hover-color: $ocean;

$nav-item-font-weight: 500;
$nav-link-padding-x: 0.75rem;
$nav-link-active-font-weight: 600;

$nav-toc-link-color: $ocean;
$nav-toc-link-hover-color: $fire;
$nav-toc-sub-link-color: $ash;
$nav-toc-sub-link-hover-color: $fire;

$hero-background-color: $cover-background-color;
$hero-background-color-dark: $cover-background-color-dark;
$hero-padding-y: 4rem;
$hero-lead-margin-y: 1rem;

$intro-max-width: 720px;

$aside-width: 310px;

$torso-background-color: $white;
$torso-background-color-dark: $gray-800;

$footer-background-color: $ice;
$footer-background-color-dark: $ice-900;


/**
 * buttons
 */

$button-radius: 0.25rem;
