/**
 * abstracts > variables
 *
 */

/**
 * colors
 */

 // grayscale
$white:    #fff;
$gray-100: #f3f4f6;
$gray-200: #e5e7eb;
$gray-300: #d1d5db;
$gray-400: #b4b6b8;
$gray-500: #6b7280;
$gray-600: #4b5563;
$gray-700: #2c333d;
$gray-800: #1d232a;
$gray-900: #0d0f12;
$black:    #000;

// imarc brand
$fire:     #ff675b;
$ash:      #252d2f;
$ice:      #d3e6ea;
$salt:     #f2efed;

// imarc shadings and tints
$fire-300: tint-color($fire, 40%);
$fire-400: tint-color($fire, 20%);
$fire-500: $fire;
$fire-600: shade-color($fire, 20%);
$fire-700: shade-color($fire, 40%);

$ice-300: tint-color($ice, 40%);
$ice-400: tint-color($ice, 20%);
$ice-500: $ice;
$ice-600: shade-color($ice, 20%);
$ice-700: shade-color($ice, 40%);

$salt-300: tint-color($salt, 40%);
$salt-400: tint-color($salt, 20%);
$salt-500: $salt;
$salt-600: shade-color($salt, 20%);
$salt-700: shade-color($salt, 40%);


// more colors spun from https://tailwind.ink
$ocean:    #387cf5;
$olive:    #b4a50a;
$limegreen:#2bb53f;


/**
 * base
 */

$body-color: $ash;
$border-color: $gray-200;

$base-font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$base-font-size: 1rem;
$base-font-weight: 400;
$base-line-height: 1.5;

/**
 * containers
 */

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1240px,
);

$container-padding-x: 1.25rem;

/**
 * breakpoints
 */

$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1260px
);


/**
 * typography
 */

$font-family-code: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
$font-size-code: 0.875em;

$link: $ocean;
$link-hover: $fire;

$lead-color: $gray-700;
$code-color: #d63384;

$headings-font-family: 'canada-type-gibson', 'Gibson', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$headings-font-weight: 600;

$paragraph-margin-bottom: 1rem;


/**
 * transitions
 */
$transition-all: all 250ms ease-in-out;
$transition-background-color: background-color 250ms ease-in-out;
$transition-color: color 250ms ease-in-out;


/**
 * icons
 */
$icon-size: $base-font-size;
$icon-stroke-width: 2px;


/**
 * layout stuff
 */

$alert-background-color: $ice-600;
$alert-font-size: $base-font-size * 0.925;
$alert-icon-size: $icon-size;

$brand-font-size: 2rem;
$brand-font-weight: 700;

$color-mode-toggle-margin-x: 0.5rem;
$color-mode-label-font-size: 0.875rem;
$color-mode-toggle-font-size: 1.5rem;
$color-mode-icon-stroke-width: 2px;

$cover-background-color: $ice;

$entry-margin-y-sm: 2rem;
$entry-margin-y-lg: 3rem;

$masthead-brand-font-weight: 700;
$masthead-brand-link-color: $gray-700;
$masthead-brand-link-hover-color: $ocean;
$masthead-nav-link-color: $gray-700;
$masthead-nav-link-hover-color: $ocean;

$nav-link-padding-x: 0.75rem;
$nav-toc-link-color: $ocean;
$nav-toc-link-hover-color: $fire;
$nav-toc-sub-link-color: $ash;
$nav-toc-sub-link-hover-color: $fire;

$hero-background-color: $cover-background-color;
$hero-heading-font-weight: 700;
$hero-padding-y: 4rem;
$hero-lead-margin-y: 1rem;
$hero-icon-color: $gray-500;
$hero-icon-size-sm: 3rem;
$hero-icon-size-lg: 100%;
$hero-icon-stroke-width: 1px;

$aside-width: 320px;

$footer-background-color: $ice;


/**
 * buttons
 */

$button-radius: 0.25rem;

