<meta charset="UTF-8" />
<title>Handbook | {{ page.title }}</title>
<meta name="description" content="Handbook of Standards &amp; Best Practices for coding and web design. By Imarc, A Digital Agency" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<script>
    if (localStorage.getItem("color-mode") === "dark") {
        document.documentElement.setAttribute("color-mode", "dark");
    }
</script>
<script src="https://use.typekit.net/ymy8mui.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

<link rel="shortcut icon" href="/img/favicon.png" />
<link rel="apple-touch-icon" href="/img/touch-icon.png">
<link rel="stylesheet" type="text/css" href="/css/main.css" media="all" />
