/**
 * layouts > brand
 */

.brand {
    &__logo {
        @extend %heading;

        @include frame();
        display: inline-block;
        font-size: 1.5rem;
        font-weight: $brand-font-weight;
        margin-bottom: 0;
        padding-bottom: 0.15em;
        padding-left: 0.175em;
        padding-right: 0.175em;
        padding-top: 0.15em;
    }
}
