/**
 * layouts > button
 */

.button {
    @include transition($transition-background-color);

    border: 0;
    border-radius: $button-radius;
    cursor: pointer;
    display: inline-block;
    padding: 0.5rem 1rem;
    text-align: center;
    user-select: none;
    vertical-align: middle;

    &--color-mode {
        background-color: var(--buttonColorMode);
        border: 0.0625rem solid var(--copy01);
        border-right: 0;
        color: var(--copy01);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        fill: none;
        font-size: $color-mode-toggle-font-size;
        padding: 0.275rem;
        position: absolute;
        right: 0;
        stroke: currentColor;
        stroke-width: $icon-stroke-width;
        stroke-linecap: round;
        stroke-linejoin: round;
        top: 6rem;
        vertical-align: -0.125em;
        z-index: 1;
    }

    &__icon {
        display: block;
        font-size: 1em;
        height: 1em;
        width: 1em;
    }
}
