/**
 * layouts > chapter
 */

.chapter {
    position: relative;
    z-index: 0;

    &__body {
        padding-bottom: $chapter-body-outer-padding;
        padding-right: $chapter-body-outer-padding;
    }

    &__bodyOut {
        padding: $chapter-body-border-width;
        position: relative;

        &::before {
            @extend %border-gradient;
        }
    }

    &__bodyIn {
        background-color: var(--chapter-background-color, $white);
        display: flex;
        flex-direction: column;
        padding: $chapter-body-inner-padding;
    }

    &__media .icon {
        height: $chapter-icon-size;
        width: $chapter-icon-size;
    }

    &__key {
        --fluid-type-min: 3rem;
        --fluid-type-target: 5vw;
        --fluid-type-max: 4.5rem;
        @extend %fluidtype;
        align-self: flex-end;
        transform: translateX($chapter-body-outer-padding + $chapter-body-inner-padding + $chapter-body-border-width * 2) translateY($chapter-body-outer-padding + $chapter-body-inner-padding + $chapter-body-border-width * 2);
    }

    &__label {
        font-size: 0.325em;
    }

    &__figure {
        font-weight: 800;
        line-height: 0.75;
    }
}
