.chapter {
    &__body {
        padding-bottom: $chapter-body-outer-padding;
        padding-right: $chapter-body-outer-padding;
    }

    &__bodyIn {
        border: $chapter-body-border-width solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(to bottom, #ee7162, #f9d253);
        display: flex;
        flex-direction: column;
        padding: $chapter-body-inner-padding;
    }

    &__media .icon {
        height: 2.5rem;
        stroke-width: $entry-icon-stroke-width;
        width: 2.5rem;
    }

    &__key {
        align-self: flex-end;
        transform: translateX($chapter-body-outer-padding + $chapter-body-inner-padding + $chapter-body-border-width * 2) translateY($chapter-body-outer-padding + $chapter-body-inner-padding + $chapter-body-border-width * 2);
    }

    &__label {
        font-size: 1.5rem;
    }

    &__figure {
        font-size: 4.75rem;
        font-weight: 800;
        line-height: 0.75;
    }
}
