/**
 * layouts > color-mode
 */

.color-mode {
    $b: &;

    &__body {
        background-color: var(--matte, $white);
        border-radius: 0.5rem;
        display: flex;
        padding: 0.25rem;
        width: 5.5rem;
    }

    &__button {
        align-items: center;
        background-color: transparent;
        border: 0;
        border-radius: 0.25rem;
        cursor: pointer;
        display: flex;
        flex: 1 0 0%;
        font-size: 1rem;
        height: 2rem;
        justify-content: center;
        line-height: 1;
        padding: 0;
        position: relative;
        text-align: center;
        width: 2.75rem;
        z-index: 0;
    }

    &__active {
        @include transition($transition-background-color);
        background-color: var(--color-mode-active, $ice);
        border-radius: 0.25rem;
        display: none;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
    }

    &__button #{$b}__icon {
        height: 1.125rem;
        stroke: var(--base-copy, $body-color);
        stroke-width: $color-mode-icon-stroke-width;
        width: 1.125rem;
    }
}

