/**
 * layouts > entry
 */

.entry {
    &__item {
        margin-bottom: $entry-margin-y-sm;
        padding: $entry-border-width;
        position: relative;

        &::before {
            @extend %border-gradient;

            @include transition($transition-opacity);

            opacity: 0;
        }

        &:hover {
            cursor: pointer;

            &::before {
                @include transition($transition-opacity);

                opacity: 1;
            }

            .entry__chapterBodyOut {
                background-color: $chapter-body-inner-background-color;
                background-image: none;
            }

            .entry__chapterBodyIn {
                @include transition($transition-background-color);

                background-color: $chapter-body-inner-background-color;
            }
        }

        .entry__chapterBodyOut {
            @include transition($transition-background-color);
        }

        .entry__chapterBodyIn {
            @include transition($transition-background-color);        }
    }

    &__body {
        background-color: var(--entry-background-color, $entry-background-color);
        display: flex;
        padding: 2rem;
    }

    &__aside {
        flex-shrink: 0;
        margin-right: $spacer * 6;
        width: 150px;
    }

    &__main {
        flex-grow: 1;
    }

    &__heading {
        font-size: 2.25rem;
        font-weight: 700;
        margin-bottom: $spacer * 1.5;
    }

    &__copy {
        margin-bottom: $spacer * 1.5;
    }

    &__link {
        color: inherit;

        &:hover {
            color: inherit;
        }
    }
}
