/**
 * layouts > entry
 */

.entry {
    &__item {
        display: block;
        margin-bottom: $entry-margin-y-sm;

        &:hover {
            box-shadow: inset 0 0 0 10px red;
        }
    }

    &__body {
        // background-color: var(--entry-background-color, $entry-background-color);
        display: flex;
        padding: 2rem;
    }

    &__aside {
        flex-shrink: 0;
        margin-right: $spacer * 6;
        width: 150px;
    }

    &__main {
        flex-grow: 1;
    }

    &__heading {
        font-size: 2.25rem;
        font-weight: 700;
        margin-bottom: $spacer * 1.5;
    }

    &__copy {
        margin-bottom: $spacer * 1.5;
    }
}
