/**
 * layouts > hero
 */

.hero {
    @include transition($transition-background-color);
    background-color: var(--hero-background-color, $hero-background-color);

    &__body {
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: $hero-padding-y / 2;
        padding-top: $hero-padding-y / 2;

        @include breakpoint(md) {
            align-items: flex-end;
            flex-direction: row;
            justify-content: space-between;
        }

        @include breakpoint(lg) {
            padding-bottom: $hero-padding-y;
            padding-top: $hero-padding-y * 2;
        }

    }

    &__heading {
        margin-bottom: 0;
    }

    &__lead {
        margin-top: $hero-lead-margin-y;
    }

    &__aside {
        margin-bottom: 0.75rem;

        @include breakpoint(md) {
            flex-basis: 20%;
            flex-shrink: 0;
            margin-bottom: 0;
            margin-left: 4rem;
        }
    }
}
