/**
 * layouts > intro
 */

.intro {
    &__body {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-bottom: $spacer * 2;
        padding-top: $spacer * 2;
    }

    &__content {
        margin-bottom: clamp(#{$spacer} * 2, 5vw, #{$spacer} * 6);
        margin-top: clamp(#{$spacer} * 2, 5vw, #{$spacer} * 6);
        text-align: center;
    }
}
