/**
 * layouts > intro
 */

.intro {
    &__body {
        display: flex;
        flex-direction: column;
        @include breakpoint(lg) {
            flex-direction: row;
        }
    }

    &__cell {
        background-color: var(--surface03, $ice);
        padding-bottom: 2rem;
        padding-top: 2rem;
        transition: background-color 250ms ease-in;
        @include breakpoint(lg) {
            align-items: center;
            display: flex;
            flex: 0 0 50%;
            justify-content: flex-end;
            max-width: 50%;
            padding-bottom: 8rem;
            padding-top: 8rem;
        }
    }

    &__content {
        max-width: map-get($container-max-widths, xl) / 2;
        padding-left: $container-padding-x;
        padding-right: $container-padding-x;

        @include breakpoint(lg) {
            padding-right: $container-padding-x * 5;
        }
    }

    &__media {
        @include breakpoint(lg) {
            position: relative;
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    &__asset {
        [color-mode="dark"] & {
            filter: brightness(0.675);
        }
        display: block;
        height: 15rem;
        object-fit: cover;
        width: 100%;

        @include breakpoint(sm) {
            height: 20rem;
        }

        @include breakpoint(lg) {
            height: 100%;
        }
    }
}
