/**
 * layouts > button
 */

.link {
    $b: &;

    color: $link;

    &__icon {
        height: 1em;
        stroke: currentColor;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: $icon-stroke-width;
        vertical-align: -0.125em;
        width: 1em;
    }

    &--icon {
        font-weight: 600;
    }

    &--semibold {
        font-weight: 600;
    }
}
