/**
 * layouts > masthead
 */

.masthead {
    &__body {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 1.25rem;
        padding-top: 1.25rem;

        @include breakpoint(lg) {
            text-align: left;
        }
    }

    &__brand {
        color: var(--base-copy, $body-color);
        display: inline-block;
        font-size: 1.625rem;
        font-weight: $masthead-brand-font-weight;

        @include breakpoint(lg) {
            margin-bottom: 0;
        }

        &:hover {
            color: $masthead-brand-link-hover-color;
        }
    }

    &__controls {
        @include breakpoint(md) {
            align-items: center;
            display: flex;
            justify-content: space-between;
        }
    }

    &__color-mode {
        align-items: center;
        display: flex;
        justify-content: flex-end;

        @include breakpoint(md) {
            margin-left: 1.5rem;
        }

        @include breakpoint(lg) {
            order: 3;
        }
    }

    &__nav {
        flex-grow: 1;
        margin-top: 1rem;
        width: 100%;

        @include breakpoint(sm) {
            margin-left: -0.675rem;
            margin-top: 0;
        }

        @include breakpoint(lg) {
            flex-grow: 0;
            margin-left: auto;
            width: auto;
        }
    }

    &__nav-link {
        color: var(--base-copy, $body-color);
        padding-bottom: 0.5rem;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0.5rem;

        @include breakpoint(sm) {
            padding-left: $nav-link-padding-x;
            padding-right: $nav-link-padding-x;
        }
    }
}

