/**
 * layouts > splash
 */

.splash {
    background-image: conic-gradient(at 125% 50%, $ocean, $ice, $white, $ice, $ice);

    &__header {
        align-content: center;
        display: grid;
        padding-bottom: 2rem;
        padding-top: 2rem;
    }

    &__heading {
        --fluid-type-min: 2.75rem;
        --fluid-type-max: 7rem;
        --fluid-type-target: 5vw;

        margin-bottom: 4rem;
        text-align: center;
    }

    &__body {
        display: grid;
        min-height: 100vh;
        grid-template-rows: 1fr auto;
    }

    &__title {
        display: block;
        color: $fire;
        margin-bottom: 1rem;
        @include breakpoint(md) {
            text-shadow:
                0.125rem 0.125rem 0 shade-color($fire, 20%),
                0.25rem 0.25rem 0 $ice,
                0.375rem 0.375rem 0 rgba($white, 0.5);
        }
    }

    &__subtitle {
        color: $gray-500;
        display: block;
        font-size: clamp(0.875rem, 2vw, 1.25rem);
        font-weight: 400;
        letter-spacing: 0.1em;
        line-height: 1.5;
        text-transform: uppercase;
    }
}
