/**
 * layouts > torso
 */

.torso {
    $container-max-width: map-get($container-max-widths, xl);

    @include breakpoint(lg) {
        background-image: linear-gradient(to right, transparent calc(100% - #{$aside-width} - #{$container-padding-x}), var(--aside-background-color, $aside-background-color) 1%);
    }

    @include breakpoint(xl) {
        background-image: linear-gradient(to right, transparent calc((50% + ((#{$container-max-width} / 2) - #{$container-padding-x}) - #{$aside-width})), var(--aside-background-color, $aside-background-color) 1%);
    }

    &__body {
        @include breakpoint(lg) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__main {
        padding-bottom: 3rem;
        padding-top: 3rem;

        @include breakpoint(lg) {
            max-width: calc(100% - #{$aside-width});
            padding-bottom: 5rem;
            padding-right: 4rem;
            padding-top: 5rem;
        }
    }

    &__aside {
        background-color: var(--aside-background-color, $aside-background-color);
        margin-left: -$container-padding-x;
        margin-right: -$container-padding-x;
        padding-bottom: 3rem;
        padding-left: $container-padding-x;
        padding-right: $container-padding-x;
        padding-top: 3rem;

        @include breakpoint(lg) {
            background-color: transparent;
            display: block;
            flex-basis: $aside-width;
            flex-shrink: 0;
            margin-left: 0;
            margin-right: 0;
            padding-bottom: 5rem;
            padding-left: 2rem;
            padding-top: 5rem;
        }
    }
}
