{% for link in site.navigation %}
	{% if page.url == link.url %}
		{% assign bodyclass = link.relative_url %}
	{% endif %}
{% endfor %}
<!DOCTYPE html>
<!--[if lt IE 9]><html class="lt-ie9" lang="en"><![endif]-->
<!--[if gte IE 9]><!-->
<html lang="en">
<!--<![endif]-->
	<head>
		<meta charset="UTF-8" />

		<base href="http://handbook.imarc.com" />

		<title>{{ page.title }} Handbook | Imarc’s Coding Standards &amp; Best Practices</title>
		<meta name="description" content="{{ page.title }} Handbook of Standards &amp; Best Practices for coding and web design. By Imarc, A Digital Agency" />

		<meta name="web_author" content="Imarc, A Digital Agency | more info at imarc.com" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="shortcut icon" href="/img/favicon.ico" />
		<link rel="apple-touch-icon" href="/img/touch-icon.png">
		<link rel="stylesheet" type="text/css" href="/css/styles.css" media="all" />
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/github.min.css" media="all">

		<!--[if IE]>
			<script src="js/html5shiv.js"></script>
		<![endif]-->

		<script src="https://use.typekit.net/uzj8mcd.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>
	</head>
	<body class="{{ bodyclass }}">
		<div class="header_container" id="top">
			<header class="group container primary">
				<div class="branding">
					<a href="http://handbook.imarc.com">
						<img src="img/logo.png" alt="Handbook" />
					</a>
				</div>
				<nav class="primary">
					<ul id="menu" class="menu">
						{% for link in site.navigation %}
							{% if page.url == link.url %}
								{% assign class = 'active' %}
							{% else %}
								{% assign class = '' %}
							{% endif %}
							<li class="{{ class }}">
							<a href="{{ link.relative_url }}">{{ link.text }}</a>
							</li>
						{% endfor %}
					</ul>
				</nav>
			</header>
		</div>
		<div class="heading">
			<h1>{{ page.title }}</h1>
		</div>

		<div class="container torso">
			<aside class="primary">
				<section class="toc">
					<nav class="secondary">
					</nav>
				</section>
			</aside>
			<div class="main" role="main">
				{{ content }}
			</div>
		</div>

		<footer class="primary">
			<div class="container">
				<img src="/img/logo_imarc_knockout.png" alt="" />
				<p class="license">
					Unless otherwise noted, the contents of these pages are licensed under the
					<a href="http://creativecommons.org/licenses/by-sa/2.0/">Creative Commons: Attribution / Share Alike license</a>.
				</p>
				<p>
					Imarc is a full service web development and design firm with offices near Boston and Silicon Valley.
					Learn more at <a href="https://www.imarc.com">https://www.imarc.com</a>.
				</p>
				<p class="copyright">
					©2016 Imarc.
				</p>
			</div>
		</footer>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script src="js/plugins/sticktotop.plugin.js"></script>
		<script src="js/template.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-6769990-6', 'imarc.net');
			ga('send', 'pageview');
		</script>
	</body>
</html>
