<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />

		<title>Handbook | Imarc’s Coding Standards &amp; Best Practices</title>
		<meta name="description" content="Imarc, A Digital Agency" />
		<meta name="web_author" content="Imarc, A Digital Agency | more info at imarc.com" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="shortcut icon" href="/img/favicon.png" />
		<link rel="apple-touch-icon" href="/img/touch-icon.png">
		<link rel="stylesheet" type="text/css" href="/css/main.css" media="all" />

		<!--[if IE]>
			<script src="js/html5shiv.js"></script>
		<![endif]-->
		<script src="https://use.typekit.net/uzj8mcd.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>
	</head>
	<body class="homepage">
		<header class="primary">
			<div class="branding">
				<h1 class="branding-heading">
					Handbook
				</h1>
				<h2 class="intro">
					Imarc’s Standards &amp; Best Practices for Web
					Development
				</h2>
			</div>
        </header>

        <div class="container">
            <ul class="cards">
                <li class="card">
                    <div class="card__body">
                        <div>
                            <h3 class="card__heading">
                                Strategy
                            </h3>
                            <p class="card__copy">
                                Discovery and Definition
                            </p>
                            <a class="button" href="strategy">
                                Read
                            </a>
                        </div>
                    </div>
                </li>
                <li class="card">
                    <div class="card__body">
                        <div>
                            <h3 class="card__heading">
                                Creative
                            </h3>
                            <p class="card__copy">
                                Visualize and Create
                            </p>
                            <a class="button" href="creative">
                                Read
                            </a>
                        </div>
                    </div>
                </li>
                <li class="card">
                    <div class="card__body">
                        <div>
                            <h3 class="card__heading">
                                Frontend
                            </h3>
                            <p class="card__copy">
                                Style and Organization
                            </p>
                            <a class="button" href="frontend">
                                Read
                            </a>
                        </div>
                    </div>
                </li>
                <li class="card">
                    <div class="card__body">
                        <div>
                            <h3 class="card__heading">
                                JavaScript
                            </h3>
                            <p class="card__copy">
                                Behavior and Interaction
                            </p>
                            <a class="button" href="javascript">
                                Read
                            </a>
                        </div>
                    </div>
                </li>
                <li class="card">
                    <div class="card__body">
                        <div>
                            <h3 class="card__heading">
                                Backend
                            </h3>
                            <p class="card__copy">
                                Integration and Structure
                            </p>
                            <a class="button" href="backend">
                                Read
                            </a>
                        </div>
                    </div>
                </li>
                <li class="card">
                    <div class="card__body">
                        <div>
                            <h3 class="card__heading">
                                Servers
                            </h3>
                            <p class="card__copy">
                                Architecture and Management
                            </p>
                            <a class="button" href="servers">
                                Read
                            </a>
                        </div>
                    </div>
                </li>
                <li class="card">
                    <div class="card__body">
                        <div>
                            <h3 class="card__heading">
                                Deployment
                            </h3>
                            <p class="card__copy">
                                Server Automation
                            </p>
                            <a class="button" href="deployment">
                                Read
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

		<footer class="primary">
			<div class="container">
				<img src="/img/logo_imarc_knockout.png" alt="" />
				<p class="license">
					Unless otherwise noted, the contents of these pages are licensed under the
					<a href="http://creativecommons.org/licenses/by-sa/2.0/">Creative Commons: Attribution / Share Alike license</a>.
				</p>
				<p>
					Imarc is a full service web development and design firm with offices near Boston and Silicon Valley.
					Learn more at <a href="https://www.imarc.com">https://www.imarc.com</a>.
				</p>
				<p class="copyright">
					©2016-2021 Imarc.
				</p>
			</div>
		</footer>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script src="js/plugins/sticktotop.plugin.js"></script>
		<script src="js/template.js"></script>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-6769990-6', 'imarc.net');
			ga('send', 'pageview');
			ga('set', 'anonymizeIp', true);
		</script>
	</body>
</html>
