<!DOCTYPE html>
<html>
	<head>
		<meta name="author" content="Created by iMarc: web + creative + strategy + mobile. More info at www.imarc.net" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />

		<title>{{ page.title }}</title>

		<link rel="stylesheet" type="text/css" href="css/base.css" media="all" />
		<link rel="stylesheet" type="text/css" href="css/screen.css" media="screen and (min-width: 481px)" />
		<link rel="stylesheet" type="text/css" href="css/mobile.css" media="screen and (max-width: 480px)" />
		<link rel="stylesheet" type="text/css" href="css/highlight/github.css" media="all" />
	</head>
	<body>
		<div id="header">
			<div class="content group">
				<span class="title"><a href="/handbook/">Handbook <sup>by iMarc</sup></a></span>
				<ul class="primary_nav group">
					<li><a href="/handbook/frontend">Frontend</a></li>
					<li><a href="/handbook/javascript">JavaScript</a></li>
					<li><a href="/handbook/backend">Backend</a></li>
					<li><a href="/handbook/deployment">Deployment</a></li>
				</ul>
			</div>
		</div>
		<div id="torso">
			<div class="content">
				<div class="main full-width">
					{{ content }}
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="content">
				<p class="copyright">
					©2012 iMarc LLC
				</p>
				<p>
					Unless otherwise noted, the contents of these pages are licensed under the 
					<a href="http://creativecommons.org/licenses/by-sa/2.0/">Creative Commons: Attribution / Share Alike license</a>.
				</p>
				<p>
					iMarc is a full service web development and design firm located north of Boston.
					<br />
					Learn more at <a href="http://imarc.net">http://imarc.net</a>.
				</p>
			</div>
		</div>

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script type="text/javascript" src="js/plugins/highlight.pack.js"></script>
		<script type="text/javascript">hljs.initHighlightingOnLoad();</script>
	</body>
</html>
