/* = Table of Contents =

 * Base
 * Grouping
 * Layout
 * Typography
 * Page Specific
 * Media Queries
 * Print Styles

 */

@import "~normalize-scss/sass/normalize";

/* = Base = */
* {
    box-sizing: border-box;
}

body {
    background-color: white;
    color: #414141;
    font-family: "canada-type-gibson", "Gibson", Arial, sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    -webkit-text-size-adjust: 100%;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

::selection {
    background: #FF675B;
    color: #FFF;
    text-shadow: none;
}

nav ul {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}

nav ul:before,
nav ul:after {
    content: "";
    display: table;
}

nav ul:after {
    clear: both;
}

/* = Grouping = */
.group:before,
.group:after,
.container:before,
.container:after {
    content: "";
    display: table;
}
.group:after,
.container:after {
    clear: both;
}

/* + Columns = */
.columns > hr {
    display: none;
    border: none;
}

@media only screen and (min-width: 600px) {
    .columns {
        display: table;
        table-layout: fixed;
        width: 100%;
    }
    .columns > * {
        display: table-cell;
        vertical-align: top;
    }
    .columns > hr {
        display: table-cell;
        width: 1rem;
    }
}

/* = Layout = */
.container {
    padding-left: 16px;
    padding-right: 16px;
}
.header_container {
    width: 100%;
    z-index: 5;
}

header.primary {
    background: #FFF;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    padding: 16px;
    position: relative;
    .branding {
        background-color: #FFF;
        font-weight: 600;
        line-height: 1;
        margin: 0 auto .75em;
        max-width: 180px;
        position: relative;
        text-align: center;
        &-heading {
            color: white;
            text-transform: uppercase;
        }
        a {
            display: block;
            font-size: 30px;
            transition: opacity 200ms linear;
        }

        a:hover,
        a:focus {
            opacity: 0.7;
        }
    }
}


nav.primary ul {
    text-align: center;
}

nav.primary li {
    display: inline-block;
    font-size: 1.1em;
    margin-bottom: 0;
    margin-left: 0.35em;
}

nav.primary li:first-child {
    margin-left: 0;
}

nav.primary li a {
    color: #333;
    display: block;
}
nav.primary li a:hover,
nav.primary li a:focus {
    color: #229AB7;
}

nav.primary .active a {
    color: #229AB7;
}
nav.primary .active a:hover,
nav.primary .active a:focus {
    color: #117E99;
}

.heading {
    background: #2299B7;
    color: #FFF;
    overflow: hidden;
    width: 100%;
    z-index: 4;
}

body .heading h1:before {
    background-repeat: no-repeat;
    content: "";
    display: block;
    -webkit-filter: grayscale(0.4);
    filter: grayscale(0.4);
    height: 100%;
    left: -40px;
    opacity: 0.4;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.heading h1 {
    font-size: 2.8em;
    margin: 0 auto;
    max-width: 1160px;
    padding: 1em 16px;
    position: relative;
    z-index: 2;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    padding: 0;
    text-align: left;
    @media only screen and (min-width: 768px) {
        margin: 0 -5px;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 80px;
        margin-top: 80px;
    }
}

.card {
    background-image: linear-gradient(135deg, rgb(211 230 234 / .825), rgb(211 230 234 / .525));
    border-radius: 4px;
    color: #252d2f;
    margin-bottom: 8px;
    &__body {
        padding: 20px;
    }
    &__heading {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 4px;
    }
    &__copy {
        margin-top: 0;
        margin-bottom: 20px;
    }
    @media only screen and (min-width: 768px) {
        margin-left: 4px;
        margin-right: 4px;
        width: 47.5%;
    }
    @media only screen and (min-width: 1024px) {
        width: 23%;
    }
}


.torso {
    margin-bottom: 3em;
}

.main .intro {
    padding-top: 1.4em;
}

.main h2 {
    border-top: 1px solid #E4E4E4;
    color: #FF675B;
    font-size: 2.2em;
    margin-bottom: 0.1em;
    margin-top: 1.4em;
    padding-top: 1.4em;
}

.main a:focus {
    background-color: rgba(3,148,212,0.2);
}

aside.primary {
    display: none;
}

aside.primary nav > ul > li {
    border-top: 1px solid #E5E5E5;
    margin-top: 1em;
    padding-top: 1em;
}

aside.primary nav li a {
    display: block;
}
aside.primary nav li a:focus {
    background-color: rgba(3,148,212,0.1);
    box-shadow: -4px 0 0 rgba(3,148,212,0.1);
}

aside.primary nav li a:active {
    background-color: transparent;
    box-shadow: none;
}


aside.primary nav > ul li a:hover {
    color: #555;
}

aside.primary nav > ul > li > a {
    font-weight: 400;
}

aside.primary nav ul ul {
    margin: 0;
}

aside.primary nav > ul li li a {
    color: #414141;
    font-size: 0.875em;
}

aside.primary nav > ul li li a:hover,
aside.primary nav > ul li li a:focus {
    color: #777;
}

aside.primary nav > ul li li {
    margin: 0;
}

aside.primary nav > ul > li:first-child {
    border-top: none;
}

footer.primary {
    background: #1B1B1B;
    color: #CCC;
    font-size: 0.9em;
    padding: 3em 0;
    text-align: center;
}

footer.primary img {
    display: inline-block;
    margin-bottom: 1.5em;
    max-width: 90px;
    opacity: 0.6;
}



/* = Typography = */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    margin-bottom: 0.2em;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2.2em;
}

h3 {
    font-size: 1.7em;
    font-weight: 400;
}

h4 {
    font-size: 1.4em;
    font-weight: 400;
}

h5 {
    font-size: 1em;
    font-weight: 400;
}

h6 {
    font-size: 0.9em;
}

.intro {
    color: #181818;
    font-size: 1.6em;
    line-height: 1.4;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: 400;
}

i,
em {
    font-style: italic;
}

blockquote,
pre {
    color: #888;
    margin-bottom: 1.5em;
}

blockquote {
    border-left: 1px solid #EAEAEA;
    font-style: italic;
    margin-left: 2em;
    margin-right: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

pre,
code {
    font-family: Menlo, "Ubuntu Mono", Consolas, "Courier New", monospace;
    font-size: 0.9em;
}

pre {
    white-space: pre-wrap;
    white-space: pre;
    word-wrap: break-word;
}

p {
    margin-bottom: 1.5em;
}

hr {
    border: 0;
    border-top: 1px solid #BBB;
    display: block;
    height: 0;
    margin: 2em 0 3em;
    width: 100%;
}

a {
    color: #0394CD;
    text-decoration: none;
    transition: color 200ms;
}
a:hover,
a:focus {
    color: #FF675B;
    outline: 0;
}

.button {
    -webkit-appearance: none;
    background-color: rgb(255 103 91 / 1);
    border-radius: 2px;
    color: white;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.075em;;
    padding: 6px 12px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    user-select: none;

}
.button:hover {
    background-color: rgb(255 70 50 / 1);
    color: white;
}

ol,
ul,
dl {
    margin-bottom: 1.5em;
}

dt {
    background: #727272;
    color: #FFF;
    display: inline-block;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0.2em;
    padding: 0.3em 0.8em;
    position: relative;
    text-transform: uppercase;
}

dt:after {
    border-left: 14px solid transparent;
    border-top: 14px solid #727272;
    content: "";
    left: 12px;
    position: absolute;
    top: 2em;
}

dd {
    margin: 0 0 1.8em 2em;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h2 + dl {
    margin-top: 0.8em;
}

h3 + dl {
    margin-top: 0.4em;
}

ul ul {
    margin: 0.5em 0 0;
}

ol,
ul {
    padding-left: 2em;
}

ol li,
ol dt,
ol dd,
ul li,
ul dt,
ul dd {
    margin-bottom: 0.5em;
}

ul {
    list-style: disc;
}

dt,
dd {
    vertical-align: top;
}


pre,
code {
    overflow: auto;
    white-space: pre;
    word-wrap: normal;
}


sup,
sub {
    font-size: 80%;
}

sup {
    vertical-align: top;
}

sub {
    vertical-align: bottom;
}


/* = Page Specific = */

/* == Homepage == */
body.homepage {
    background-attachment: fixed;
    background-color: #222;
    background-image: url(/img/tile_diagonal.png), url(/img/bg_home.jpg);
    background-position: left top, center center;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    padding: 20px 0 100px;
    text-align: center;
}
body.homepage header.primary,
body.homepage footer.primary {
    background: none;
    box-shadow: none;
    padding: 0;
}
body.homepage header.primary .branding {
    background: none;
    float: none;
    margin: 0 auto;
    max-width: none;
    text-align: center;
    width: 90%;
}
body.homepage .branding a:hover,
body.homepage .branding a:focus {
    opacity: 0.5;
}

body.homepage .branding h1 {
    background: rgba(0,0,0,0.6);
    margin: 0 auto 0.6em;
    padding: 14px;
    width: 90%;
}
body.homepage h2.intro {
    color: #f2efed;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
}

body.homepage footer.primary {
    font-size: 13px;
    padding: 0;
    text-align: center;
    text-shadow: 1px 1px 12px #000;
}

body.homepage footer.primary img {
    display: inline-block;
    float: none;
    margin-bottom: 0.4em;
    width: 64px;
}

/* == headings == */

body.strategy .heading h1:before {
    background-image: url(/img/watermark_strategy.png);
    left: -100px;
}
body.creative .heading h1:before {
    background-image: url(/img/watermark_creative.png);
    left: -100px;
}
body.frontend .heading h1:before {
    background-image: url(/img/watermark_frontend.png);
    left: -100px;
}
body.javascript .heading h1:before {
    background-image: url(/img/watermark_javascript.png);
    left: -100px;
}
body.backend .heading h1:before {
    background-image: url(/img/watermark_backend.png);
    left: -100px;
}
body.deployment .heading h1:before {
    background-image: url(/img/watermark_deployment.png);
    left: -100px;
}
body.servers .heading h1:before {
    background-image: url(/img/watermark_servers.png);
    left: -100px;
}

/* = Tables = */
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1.5em;
    width: 100%;
}
table caption {
    font-size: 0.75em;
    margin-bottom: 0.75em;
}
table td,
table th {
    padding: 0.5em 1em;
    text-align: left;
    vertical-align: top;
}
table th {
    background: #555;
    border: 1px solid #555;
    color: #FFF;
    font-weight: 400;
    text-transform: uppercase;
}
table td {
    border: 1px solid #E3E3E3;
}
table tr:nth-child(even) td {
    background: #F3F3F3;
}

td.supported,
table tr:nth-child(even) td.supported {
    background: #229AB7;
    color: white;
    font-weight: 400;
}

tr:first-child th:first-child {
    background: #444;
}


/* = Media Queries = */

@media only screen and (max-width: 479px) {
    nav.primary li {
        display: block;
        float: none;
        margin-bottom: 0.8em;
        margin-left: 0;
        text-align: center;
    }
}


@media only screen and (min-width: 768px) {
    header.primary .branding {
        float: left;
        margin-bottom: 0;
    }

    nav.primary {
        float: right;
    }

    .jump {
        display: none;
    }

    .container {
        margin-left: auto;
        margin-right: auto;
        max-width: 1160px;
    }

    footer.primary p {
        margin: 0;
    }

    footer.primary img {
        margin-bottom: 1em;
    }

    body.homepage header.primary .branding {
        max-width: 600px;
    }

    body.homepage .branding h1 {
        max-width: 400px;
    }

}

@media only screen and (min-width: 1024px) {

    .header_container {
        left: 0;
        position: absolute;
        top: 0;
    }

    header.primary {
        padding: 30px;
    }

    header.primary .branding {
        text-align: left;
    }

    header.primary .branding a {
        display: block;
    }

    .heading {
        height: 14em;
        padding: 0;
    }

    .heading h1 {
        padding: 130px 30px;
    }

    .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    nav.primary li {
        margin-left: 1.4em;
    }

    .torso {
        margin-bottom: 0;
        padding-bottom: 0;
        position: relative;
    }

    .main {
        margin-right: 270px;
        padding-bottom: 3em;
    }

    aside.primary {
        background: #FFF;
        box-shadow: -4px -4px 6px rgba(70,70,70,0.1);
        display: block;
        float: right;
        height: 100%;
        padding: 0 16px;
        position: absolute;
        right: 0;
        top: -24px;
        width: 250px;
    }

    footer.primary {
        text-align: left;
    }

    footer.primary img {
        display: block;
        float: left;
        margin-right: 2em;
    }

    body.homepage footer.primary {
        width: 100%;
    }
}


@media print {
    * {
        background: transparent !important;
        box-shadow: none !important;
        color: #000 !important;
        /* Black prints faster: h5bp.com/s */
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #888;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
