/**
 * layouts > entry
 */

.entry {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1px;

    &__item {

    }

    &__body {
        background-color: white;
        padding: 2rem;
    }

    &__heading {
        font-size: 1.5rem;
    }
}
