/**
 * layouts > masthead
 */

.masthead {
    background-color: $masthead-background-color;

    &__body {
        padding-bottom: 1.25rem;
        padding-top: 1.25rem;
        text-align: center;

        @include breakpoint(lg) {
            align-items: center;
            display: flex;
            justify-content: space-between;
            text-align: left;
        }
    }

    &__brand {
        color: $fire;
        font-size: 1.5rem;
        font-weight: 700;
    }
}
