/**
 * layouts > nav
 */

.nav {

    &__list {
        list-style: none;
        padding: 0;
        @include breakpoint(md) {
            justify-content: center;
            display: flex;
        }
    }

    &__item {
        font-weight: 500;
    }

    &__link {
        display: block;
        padding: 0.25rem 0.75rem;
    }

    &--vertical {

    }
}
